httpdocs/assets/img/uploads/
httpdocs/package-lock.json
storage/backups/
storage/logs/
storage/runtime/
vendor/composer/composer/doc/fixtures/repo-composer-with-providers/p

**/.DS_Store
**/.sass-cache/
**/node_modules/
**/cpresources/
**/*.css.map
.env
.idea
.sass-cache
.vscode/
