{% spaceless %}

<!DOCTYPE html>

<html lang="en-US">
<head>
  {# include the head #}
  {% include '_globals/head' %}

  {# block for pages that need extra metadata #}
  {% block head %}{% endblock %}
</head>

<body>
  {# include the header #}
  {% include '_globals/header'%}

  <main>
    {# content block #}
    {% block content %}{% endblock %}
  </main>

  {# include the footer #}
  {% include '_globals/footer' %}

  {# include scripts here to defer loading of scripts until content and style are loaded #}
  {% include '_globals/scripts' %}
</body>
</html>

{% endspaceless %}
