<!DOCTYPE html>

<html lang="en-US">
<head>
</head>

<body>
  {# include the site header #}
  {% include '_globals/header'%}

  <main>
    {# main content block #}
    {% block content %}
    {% endblock %}
  </main>

  {# include the site footer #}
  {% include '_globals/footer' %}
</body>
</html>
